<h1 class="header">Welcome To Pizza Express</h1>
<div class="wholeContainer">
    <div class="specialtyPizzaContainer">
        <h2 class="specialtyPizzaHeader">Special Pizzas</h2>
        <ul class="specialtyPizzaList">
            <li><a href="http://localhost:4444/hotdogpizza">Hotdog Pizza</a></li>
            <li><a href="http://localhost:4444/ramenpizza">Ramen Pizza</a></li>
            <li><a href="http://localhost:4444/liverpizza">Liver Pizza</a></li>
        </ul>
    </div>
    <div class="customPizzaContainer">
        <h2 class="customPizzaHeader">Custom Pizza</h2>
        <p><a href="http://localhost:4444/byopizza">Custom Pizza</a></p>
    </div>
    <div class="reviewContainer">
        <h2 class="reviewHeader">Leave A Review</h2>
        <p><a href="http://localhost:4444/review">Click here to leave a review.</a></p>
    </div>
    <div class="imageContainer">
        <img src="#" alt="pizzaPic">
    </div>
</div>