
<h1 class="confirmationPageHeader">Thanks For The Review</h1>

<p class="reviewersName">Your Name: {{reviewerName}} </p>

<p class="reviewersComment">Comment: {{reviewerComment}} </p>

<p class="reviewersRating">Rating: {{reviewerRating}} </p>

<p><a href="http://localhost:4444/">Back To Home Page</a></p>
